<header>
      <div class="header-logo">
        <% if @current_user %>
           <p class="back-btn"><i class="fa fa-arrow-left"></i></p>
          <%= link_to("/posts/index",class: "border-none") do %>
          <%= image_tag("/image/detector_logo.png", class: "logo-image") %>
          <% end %>
        <% else %>
          <%= link_to("/",class: "border-none btn-black") do %>
          <%= image_tag("/image/detector_logo.png", class: "logo-image") %>
          <% end %>
        <% end %>
      </div>
</header>
<div class="comment-page">
 <div id="comments-list">
 	<%= render(partial: "comments") %>
 </div>
 <%= form_tag("/comments/#{params[:post_id]}/create", remote: true) do %>
 <div class="comment-form">	
  <textarea name="contents" class="comment-text" placeholder="Comment"><%= @comment.contents %></textarea>
  <input type="submit" class="comment-input-btn">
 </div>
 <% end %>
</div>