<div class="top">
	<h3>Create Acount</h3>
	<div class="form">
		<% @user.errors.full_messages.each do |message| %>
			<div class="error-message">
			<p style="color:red;"><%= message %></p>
			</div>
		<% end %>
		<%= form_tag("/users/create") do %>
		  <input class="user-input" type="text" name="name" placeholder="please enter name" value="<%= @user.name %>">
		  <br/><input class="user-input" type="text" name="email" placeholder="please enter email"　value="<%= @user.email %>">
		  <br/><input class="user-input" type="submit" value="登録">
		<% end %>
	</div>
	<p class="change-btn"><%= link_to("ログインへ","/login",class: "change-btn") %></p>
</div>