<header>
      <div class="header-logo">
        <% if @current_user %>
           <p class="back-btn"><i class="fa fa-arrow-left"></i></p>
          <%= link_to("/posts/index",class: "border-none") do %>
          <%= image_tag("/image/detector_logo.png", class: "logo-image") %>
          <% end %>
        <% else %>
          <%= link_to("/",class: "border-none btn-black") do %>
          <%= image_tag("/image/detector_logo.png", class: "logo-image") %>
          <% end %>
        <% end %>
      </div>
</header>
<div class="post-form">
	<h3>Create Idea</h3>
	<p>アイディアの価値を高めるために<br/>投稿は1日1回しかできません。</p>
	<div class="form">
		<% @post.errors.full_messages.each do |message| %>
			<div class="error-message">
			<p style="color:red;"><%= message %></p>
			</div>
		<% end %>
		<%= form_tag("/posts/create") do %>
		  <input class="post-input" type="text" name="title" placeholder="アイディアを入力してください。" value="<%= @post.title %>">
		  <textarea class="post-input post-text" type="text" name="contents" placeholder="概要"　value="<%= @post.contents %>"></textarea>
		  <br/><input class="input-btn" type="submit" value="投稿">
		<% end %>
	</div>
</div>