<header>
      <div class="header-logo">
        <% if @current_user %>
           <p class="back-btn"><i class="fa fa-arrow-left"></i></p>
          <%= link_to("/posts/index",class: "border-none") do %>
          <%= image_tag("/image/detector_logo.png", class: "logo-image") %>
          <% end %>
        <% else %>
          <%= link_to("/",class: "border-none btn-black") do %>
          <%= image_tag("/image/detector_logo.png", class: "logo-image") %>
          <% end %>
        <% end %>
      </div>
</header>
<div class="show-page">
	<div class="post-show">
		<p class="post-time"><%= simple_time(@post.created_at) %></p>
		<div class="clear-right"></div>
		<h2 class="post-show-title"><%= @post.title %></h2>
		<p class="post-show-contents"><%= raw(@post.contents.gsub(/\n/, '<br>')) %></p>
	</div>
<div class="select-evaluation">
 <% good = Good.find_by(user_id: @current_user.id, post_id: @post.id) %>
 <% good_count = Good.where(post_id: @post.id).count %>
 <% comment_count = Comment.where(post_id: @post.id).count %>
 <%= link_to("/comments/#{@post.id}/index", class: "btn-green", remote: true ) do %>
  <p class="comment-btn">
   <i class="fa fa-comment-o"></i>
   <%= comment_count %>
  </p>
 <% end %>
 <% if good %>
  <%= link_to("/goods/#{@post.id}/destroy", method: 'post') do %>
  <p class="good-btn pushed-good-btn">
    <i class="fa fa-thumbs-up"></i>
    <%= good_count %>
  </p>
  <% end %>
  <div class="clear-left"></div>
 <% else %>
  <%= link_to("/goods/#{@post.id}/create", method: 'post', class: "select-btn-black") do %>
   <p class="good-btn">
    <i class="fa fa-thumbs-o-up"></i>
    <%= good_count %>
  </p>
  <% end %>
  <div class="clear-left"></div>
 <% end %>
</div>
</div>
<div id="comments"></div>