<!DOCTYPE html>
<html>
  <head>
    <title>Detector</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	 <% if flash[:notice] %>
    <div id="flash-home">
      <h3 class="flash-text"><%= flash[:notice] %></h3>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>