<!DOCTYPE html>
<html>
  <head>
    <title>Detector</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to(:back, class: "border-none btn-green") do %>
           <p class="back-btn"><i class="fa fa-arrow-left"></i></p>
          <% end %>
          <%= link_to("/posts/index",class: "border-none") do %>
          <%= image_tag("/image/detector_logo.png", class: "logo-image") %>
          <% end %>
        <% else %>
          <%= link_to("/",class: "border-none btn-black") do %>
          <%= image_tag("/image/detector_logo.png", class: "logo-image") %>
          <% end %>
        <% end %>
      </div>
    </header>
  	<% if flash[:notice] %>
    <div id="flash">
      <h3 class="flash-text"><%= flash[:notice] %></h3>
    </div>
    <% end %>
    <%= yield %>
  </body>
</html>